@charset "UTF-8";
footer {
	background-image: url(img/footer.jpg);	
}

#about {
	background-color:
	background-image: url(img/about.jpg);
}

#about h2 {
	text-align: center;
}

#about{
	background-image: url(img/about.jpg);	
}

#love {
	background-image: url(img/bar3.jpg);
}

#cards {
	
	margin-top: 70px;
	padding: 30px;
	background-color: #efc7d8;
}

#cards .row {
	margin-bottom :30px;
	
}

