@charset "UTF-8";
footer {
	background-image: url(img/footer.jpg);	
}

#about {
	background-color:
	background-image: url(img/about.jpg);
}

#about h2 {
	text-align: center;
}

#about{
	background-image: url(img/about.jpg);	
}



